.name {
   width: 100%;
   text-align: center;
   display: inline-block;
   font-weight: bold;
}

@media (min-width: 720px) {
    .name {
        width: 50%;
    }
}

@media (min-width: 1080px) {
    .name {
        width: 33%;
    }
}