<div class="container">
  <h1 class="mat-display-1">Kingdom Name Generator</h1>
  <p class="mat-subheading-2">Quickly and easily generate names for medieval-fantasy kingdoms and lands!</p>
  <kng-syllables-control
    id="syllables-control"
    class="full-width"
    (numberOfSyllablesChange)="onNumberOfSyllablesChanged($event)"></kng-syllables-control>
  <div class="spacer"></div>
  <kng-names-control
    id="names-control"
    class="full-width"
    (numberOfNamesChange)="onNumberOfNamesChanged($event)"></kng-names-control>
  <div class="spacer"></div>
  <kng-generate-control
    id="generate-control"
    class="full-width"
    [numberOfSyllables]="numberOfSyllables"
    [numberOfNames]="numberOfNames"
    (namesGenerate)="onNamesGenerated($event)"></kng-generate-control>
  <div
    *ngIf="names && names.length > 0">
    <div class="spacer"></div>
    <kng-names-display
      id="names-display"
      [names]="names"></kng-names-display>
  </div>
</div>
